PDiscountCard/Service References/MBProxi/CardService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.254.139/CardService/CardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CardService" />
  <xs:import schemaLocation="http://192.168.254.139/CardService/CardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CardService.Classes" />
  <xs:element name="Online">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="processedCheck" nillable="true" type="q1:ProcessedCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardProcessingResult" nillable="true" type="q2:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="processedCheck" nillable="true" type="q3:ProcessedCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardProcessingNewResult" nillable="true" type="q4:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalCardProcessing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="processedCheck" nillable="true" type="q5:ProcessedCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalCardProcessingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="InternalCardProcessingResult" nillable="true" type="q6:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitChangerForTechSupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="Request" nillable="true" type="q7:VisitChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitChangerForTechSupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="VisitChangerForTechSupportResult" nillable="true" type="q8:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="Request" nillable="true" type="q9:CardActivateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardActivateOneClickResult" nillable="true" type="q10:OperationResultOfMyIssuanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClickCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="Request" nillable="true" type="q11:CardActivateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClickCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardActivateOneClickCustomResult" nillable="true" type="q12:OperationResultOfMyIssuanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerFinder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CardService.Classes" minOccurs="0" name="CustomerRequest" nillable="true" type="q13:CustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerFinderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CustomerFinderResult" nillable="true" type="q14:OperationResultOfCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBCustomerAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBCustomerAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="PBCustomerAuthResult" nillable="true" type="q15:OperationResultOfPBCustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBAvailableBonus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="bonusRequest" nillable="true" type="q16:PBBonusAvailableRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBAvailableBonusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="PBAvailableBonusResult" nillable="true" type="q17:OperationResultOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBPostOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="orderRequest" nillable="true" type="q18:PBOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBPostOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="PBPostOrderResult" nillable="true" type="q19:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBCancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBCancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="PBCancelOrderResult" nillable="true" type="q20:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBApprovedOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBApprovedOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="PBApprovedOrderResult" nillable="true" type="q21:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsForTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="request" nillable="true" type="q22:TermSettingsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsForTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="GetSettingsForTermResult" nillable="true" type="q23:OperationResultOfMyTermSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>