PDiscountCard/Service References/MBProxi/CardService2.xsd.bak

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.254.139/CardService/CardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CardService" />
  <xs:import schemaLocation="http://192.168.254.139/CardService/CardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CardService.Classes" />
  <xs:element name="Online">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="processedCheck" nillable="true" type="q1:ProcessedCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardProcessingResult" nillable="true" type="q2:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="processedCheck" nillable="true" type="q3:ProcessedCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardProcessingNewResult" nillable="true" type="q4:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingV3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="processedCheck" nillable="true" type="q5:ProcessedCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardProcessingV3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardProcessingV3Result" nillable="true" type="q6:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalCardProcessing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="processedCheck" nillable="true" type="q7:ProcessedCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalCardProcessingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="InternalCardProcessingResult" nillable="true" type="q8:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitChangerForTechSupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="Request" nillable="true" type="q9:VisitChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitChangerForTechSupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="VisitChangerForTechSupportResult" nillable="true" type="q10:OperationResultOfMyCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="Request" nillable="true" type="q11:CardActivateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardActivateOneClickResult" nillable="true" type="q12:OperationResultOfMyIssuanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClickCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="Request" nillable="true" type="q13:CardActivateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardActivateOneClickCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CardActivateOneClickCustomResult" nillable="true" type="q14:OperationResultOfMyIssuanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerFinder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CardService.Classes" minOccurs="0" name="CustomerRequest" nillable="true" type="q15:CustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerFinderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="CustomerFinderResult" nillable="true" type="q16:OperationResultOfCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBCustomerAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessCode" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PBCustomerAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="PBCustomerAuthResult" nillable="true" type="q17:OperationResultOfPBCustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsForTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="request" nillable="true" type="q18:TermSettingsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsForTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CardService" minOccurs="0" name="GetSettingsForTermResult" nillable="true" type="q19:OperationResultOfMyTermSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>