PDiscountCard/Service References/MBProxi/CardService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CardService.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CardService.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShortInfo" nillable="true" type="tns:CustomerShortInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRequest" nillable="true" type="tns:CustomerRequest" />
  <xs:complexType name="CustomerShortInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Card" nillable="true" type="tns:CustomerRequestCardInfo" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:CustomerIdInfo" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerShortInfo" nillable="true" type="tns:CustomerShortInfo" />
  <xs:complexType name="CustomerRequestCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:CustomerRequestCardIdInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRequestCardInfo" nillable="true" type="tns:CustomerRequestCardInfo" />
  <xs:complexType name="CustomerRequestCardIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRequestCardIdInfo" nillable="true" type="tns:CustomerRequestCardIdInfo" />
  <xs:complexType name="CustomerIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MindboxId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerIdInfo" nillable="true" type="tns:CustomerIdInfo" />
  <xs:complexType name="CustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balances" nillable="true" type="tns:ArrayOfBalanceInfo" />
      <xs:element minOccurs="0" name="CardInfos" nillable="true" type="tns:ArrayOfCardShortInfo" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerInfo" />
      <xs:element minOccurs="0" name="CustomerSegmentations" nillable="true" type="tns:ArrayOfCustomerSegmentationInfo" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerResponse" nillable="true" type="tns:CustomerResponse" />
  <xs:complexType name="ArrayOfBalanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceInfo" nillable="true" type="tns:BalanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalanceInfo" nillable="true" type="tns:ArrayOfBalanceInfo" />
  <xs:complexType name="BalanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:decimal" />
      <xs:element minOccurs="0" name="Blocked" type="xs:decimal" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TypeInfo" nillable="true" type="tns:BalanceTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceInfo" nillable="true" type="tns:BalanceInfo" />
  <xs:complexType name="BalanceTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:BalanceTypeIdInfo" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceTypeInfo" nillable="true" type="tns:BalanceTypeInfo" />
  <xs:complexType name="BalanceTypeIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceTypeIdInfo" nillable="true" type="tns:BalanceTypeIdInfo" />
  <xs:complexType name="ArrayOfCardShortInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardShortInfo" nillable="true" type="tns:CardShortInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardShortInfo" nillable="true" type="tns:ArrayOfCardShortInfo" />
  <xs:complexType name="CardShortInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:CardIdInfo" />
      <xs:element minOccurs="0" name="StatusInfo" nillable="true" type="tns:CardStatusInfo" />
      <xs:element minOccurs="0" name="TypeInfo" nillable="true" type="tns:CardTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardShortInfo" nillable="true" type="tns:CardShortInfo" />
  <xs:complexType name="CardIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MindBoxId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardIdInfo" nillable="true" type="tns:CardIdInfo" />
  <xs:complexType name="CardStatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:CardStatusIdInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardStatusInfo" nillable="true" type="tns:CardStatusInfo" />
  <xs:complexType name="CardStatusIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardStatusIdInfo" nillable="true" type="tns:CardStatusIdInfo" />
  <xs:complexType name="CardTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:CardTypeIdInfo" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardTypeInfo" nillable="true" type="tns:CardTypeInfo" />
  <xs:complexType name="CardTypeIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardTypeIdInfo" nillable="true" type="tns:CardTypeIdInfo" />
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomFields" nillable="true" type="tns:CustomerInfoCustomField" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailInvalid" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:CustomerIdInfo" />
      <xs:element minOccurs="0" name="LastChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="PhoneNumberConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhoneNumberInvalid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessingStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subscriptions" nillable="true" type="tns:ArrayOfSubscriptionInfo" />
      <xs:element minOccurs="0" name="TimeZoneSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZoneStr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
  <xs:complexType name="CustomerInfoCustomField">
    <xs:sequence>
      <xs:element minOccurs="0" name="PromoLastDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfoCustomField" nillable="true" type="tns:CustomerInfoCustomField" />
  <xs:complexType name="ArrayOfSubscriptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionInfo" nillable="true" type="tns:SubscriptionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionInfo" nillable="true" type="tns:ArrayOfSubscriptionInfo" />
  <xs:complexType name="SubscriptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PointOfContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSubscribed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionInfo" nillable="true" type="tns:SubscriptionInfo" />
  <xs:complexType name="ArrayOfCustomerSegmentationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerSegmentationInfo" nillable="true" type="tns:CustomerSegmentationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerSegmentationInfo" nillable="true" type="tns:ArrayOfCustomerSegmentationInfo" />
  <xs:complexType name="CustomerSegmentationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Segment" nillable="true" type="tns:SegmentInfo" />
      <xs:element minOccurs="0" name="Segmentation" nillable="true" type="tns:SegmentationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSegmentationInfo" nillable="true" type="tns:CustomerSegmentationInfo" />
  <xs:complexType name="SegmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:SegmentIdInfo" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentInfo" nillable="true" type="tns:SegmentInfo" />
  <xs:complexType name="SegmentIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentIdInfo" nillable="true" type="tns:SegmentIdInfo" />
  <xs:complexType name="SegmentationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInfo" nillable="true" type="tns:SegmentIdInfo" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentationInfo" nillable="true" type="tns:SegmentationInfo" />
</xs:schema>