PDTest/PDTest/Service References/ServiceReference1/FRSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FRS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FRS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.77.7:3838/FRSService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.77.7:3838/FRSService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AddCheckRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Check" nillable="true" type="tns:FiskalCheck" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCheckRequest" nillable="true" type="tns:AddCheckRequest" />
  <xs:complexType name="FiskalCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosedSucsees" type="xs:boolean" />
      <xs:element minOccurs="0" name="Dishes" nillable="true" type="tns:ArrayOfFiskalDish" />
      <xs:element minOccurs="0" name="ExtNum" type="xs:int" />
      <xs:element minOccurs="0" name="ExtNumData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FROutData" nillable="true" type="tns:FCheckOutData" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfFiskalPayment" />
      <xs:element minOccurs="0" name="ReturnSale" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StringsForPrint" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiskalCheck" nillable="true" type="tns:FiskalCheck" />
  <xs:complexType name="ArrayOfFiskalDish">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FiskalDish" nillable="true" type="tns:FiskalDish" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiskalDish" nillable="true" type="tns:ArrayOfFiskalDish" />
  <xs:complexType name="FiskalDish">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiskalDish" nillable="true" type="tns:FiskalDish" />
  <xs:complexType name="FCheckOutData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Change" type="xs:decimal" />
      <xs:element minOccurs="0" name="FD" type="xs:int" />
      <xs:element minOccurs="0" name="FP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QRAsStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmallNum" type="xs:int" />
      <xs:element minOccurs="0" name="Summ" type="xs:decimal" />
      <xs:element minOccurs="0" name="SysDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bigNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FCheckOutData" nillable="true" type="tns:FCheckOutData" />
  <xs:complexType name="ArrayOfFiskalPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FiskalPayment" nillable="true" type="tns:FiskalPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiskalPayment" nillable="true" type="tns:ArrayOfFiskalPayment" />
  <xs:complexType name="FiskalPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Summ" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiskalPayment" nillable="true" type="tns:FiskalPayment" />
  <xs:complexType name="AddCheckResponce">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attrs" nillable="true" type="tns:FRAttributes" />
      <xs:element minOccurs="0" name="Check" nillable="true" type="tns:FiskalCheck" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCheckResponce" nillable="true" type="tns:AddCheckResponce" />
  <xs:complexType name="FRAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="FNNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INN" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Klishe" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PaymentNames" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      <xs:element minOccurs="0" name="RN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Smena" type="xs:int" />
      <xs:element minOccurs="0" name="ZN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FRAttributes" nillable="true" type="tns:FRAttributes" />
</xs:schema>