PDiscountCard/Service References/FRSSrv/FRSService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://FRS.Srv" elementFormDefault="qualified" targetNamespace="http://FRS.Srv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.250.7:3838/FRSService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FRSTypes" />
  <xs:import schemaLocation="http://192.168.250.7:3838/FRSService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.250.7:3838/FRSService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FRSTypes" minOccurs="0" name="Request" nillable="true" type="q1:AddCheckRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FRSTypes" minOccurs="0" name="AddCheckResult" nillable="true" type="q2:AddCheckResponce" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CheckId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FRSTypes" minOccurs="0" name="PrintCheckResult" nillable="true" type="q4:AddCheckResponce" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastChecks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Dep" type="xs:int" />
        <xs:element minOccurs="0" name="Waiter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastChecksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FRSTypes" minOccurs="0" name="GetLastChecksResult" nillable="true" type="q5:ArrayOfFiskalCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dep" type="xs:int" />
        <xs:element minOccurs="0" name="Term" type="xs:int" />
        <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FRSTypes" minOccurs="0" name="ZReportResult" nillable="true" type="q6:ZReportResponce" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusinessDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DepNum" type="xs:int" />
        <xs:element minOccurs="0" name="Term" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FRSTypes" minOccurs="0" name="XReportResult" nillable="true" type="q7:XReportResponce" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Items" nillable="true" type="q8:ArrayOfint" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Discounts" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>