PDiscountCard/Service References/HubSrv/DeliveryHubConnectorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.254.163/DeliveryHubConnector/DeliveryHubConnectorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeliveryHubConnector" />
  <xs:element name="Online">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeliveryHubConnector" minOccurs="0" name="posHelloRequest" nillable="true" type="q1:OperationRequestFromPOSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DeliveryHubConnector" minOccurs="0" name="shortInfoReq" nillable="true" type="q2:OperationRequestFromlong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DeliveryHubConnector" minOccurs="0" name="GetShortOrderInfoResult" nillable="true" type="q3:OperationResponseOfShortOrderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>